* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF4EA;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.title-back  {
    background-color: #C96868;
    border-radius: 25px;
    padding: 10px;
}

.title {
    font-size: 40px;
    font-weight: 500;
    color: white;
    cursor: default;
}

.title:hover {
    opacity: 90%;
}

.content {
    height: 70vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.desc {
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.buttons {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:10px;
}

button {
    width: 150px;
    height: 150px;
    font-size: 100px;
    border: 2px solid #C96868;
    background-color: white;
    border-radius: 30px;
}

button:hover {
    background-color: #C96868;
    border: 2px solid white;
    cursor: pointer;
}


#results {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#result {
    margin: 20px;
    font-size: 30px;
    padding: 10px;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-logo {
    width: 20px;
}

#github-link {
    font-size: 18px;
    color: #C96868;
    text-decoration: none;
}

a:hover {
    opacity: 90%;
}

